/* Global styling */
*, *::before, *::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'OutFit', sans-serif;
}
p{
    font-size: 15px;
}
.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}